form {
  display: grid;

  @media (min-width: 786px) {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;

    .input {
      margin-bottom: 0;
    }
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }

  .input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }

  .button {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    font-size: 1.4rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 250ms;

    &:hover {
      background: rgba(0, 0, 0, 0.85);
    }
  }

}